@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
.whole-home {
  background-color: white;
}
.up {
  background-image: url('../public/up.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 70px;
  height: 70px;
  cursor: pointer;
  position: fixed;
  left: 90vw;
  bottom: 6vh;
  animation: floating 5s infinite;
}
.up:hover {
  filter: invert(0.4);
}
.holder-burger {
  text-align: right;
  background-color: rgb(29, 29, 29);
  max-height: 0;
  transition: max-height 0.7s ease-in-out;
  overflow: hidden;
  display: none;
}
.holder-burger.open {
  max-height: 300px;
}
.about-burger {
  color: white;
  font-size: 50px;
  cursor: pointer;
}
.about-burger:hover {
  background-color: rgb(46, 46, 46);
}
.gallery-burger {
  color: white;
  font-size: 50px;
  cursor: pointer;
}
.gallery-burger:hover {
  background-color: rgb(46, 46, 46);
}
.backgroundimg {
  width: 99vw;
  height: 100vh;
  background-size: cover;
  background-image: url('../public/recipe.jpg');
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 20px;
}
.holder-top {
  display: flex;
  gap: 100px;
  justify-content: right;
  margin-right: 200px;
  
}
.about {
  font-size: 35px;
  color: white;
  font-family: "Comic Relief", system-ui;
  cursor: pointer;
}
.gallery {
  font-size: 35px;
  color: white;
  font-family: "Comic Relief", system-ui;
  cursor: pointer;
}
.burger-home {
  background-image: url('../public/burger-bar.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  filter: brightness(0) invert(1);
  display: none;
  cursor: pointer;
}
.holder-titleandsubtitle {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 70px;
}
.title {
  font-size: 80px;
  color: white;
  font-family: "Rouge Script", cursive;
}
.subtitle {
  font-size: 50px;
  color: white;
  font-family: "Rouge Script", cursive;
}
.holder-input {
  text-align: center;
}
.input {
  width: 500px;
  border-radius: 30px;
  outline: none;
  font-size: 30px;
  padding: 20px;
}
.holder-arrow {
  padding-top: 100px;
  text-align: center;
}
.arrow {
  height: 100px;
  cursor: pointer;
  filter: invert(1) ;
  transition: filter 0.15s;
  animation: floating 3s infinite;
}
.arrow:hover {
  filter: invert(0.6) brightness(1.4) hue-rotate(90deg);
  
}
.right-holder-content-about {
  font-family: "Cabin", sans-serif;
}
.title-about1 {
  font-size: 35px;
    opacity: 0;
  animation: FadeIn 2s forwards;
}
.ul-content-about {
  list-style: none;
  animation: FadeIn 2s forwards;
}
.section-about1 {
  margin-top: 100px;
}
.whole-middle {
  
}
.deco {
  font-family: "Oswald", sans-serif;
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 60px;
  text-align: center;
  background-color: rgb(233, 226, 217);
}
.sihyeon {
  padding-top: 20px;
}
.title-about {
  font-family: "Rouge Script";
  font-size: 120px;
  text-align: center;
  margin-top: 150px;
}
.content-about1 {
  margin: 0 auto;
  max-width: 1500px;
  font-size: 30px;
  display: flex;
  align-items: center;
  gap: 150px;
}
.img-content-about1-1 {
  background-image: url(../public/about1-1.jpg);
  height: 350px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: cover;
}
.content-about1-1 {
  animation: FadeIn 2s forwards;
}
.content-about1-2 {
  font-size: 30px;
  animation: FadeIn 2s forwards;
}
.content-about1-3 {
  font-size: 30px;
  animation: FadeIn 2s forwards;
}
.section-about2 {
  margin: 0 auto;
  max-width: 1500px;
  display: flex;
  align-items: center;
  font-family: "Cabin", sans-serif;
  gap: 150px;
}
.title-about2 {
 font-size: 45px;
 animation: FadeIn 2s forwards;
}
.content-about2 {
  font-size: 30px;
  padding-top: 30px;
}
.gap {
  margin-bottom: 250px;
}
.img-content-about2 {
  background-image: url('../public/comfort.jpg');
  height: 400px;
  width: 700px;
  background-size: cover;
}
.section-gallery {
  background-color: rgb(228, 225, 214);
  padding-bottom: 150px;
}
.title-gallery {
  font-family: "Rouge Script";
  font-size: 120px;
  text-align: center;
  padding-top: 100px;
}
.images-gallery {
  margin: 0 auto;
  max-width: 1000px;
}
.images-section1 {
  display: flex;
  flex-wrap: wrap; 
  gap: 30px;
  margin-left: 55px;
}
.images-section1 img {
  height: 450px;
  width: 31%;
  border-radius: 60px;
}
.img-8 {
  max-height: 250px;
}
.bottom {
  background-color: rgb(65, 38, 3);
  color: white;
}
@keyframes burgerScroll {
  0% {
    height: 0;
  }
  100% {
    height: 100px;
  }
}
@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes FadeIn {
  from  {
    opacity: 0;
    transform: translatey(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (max-width: 1560px) {
  .deco {
  font-size: 40px;
  }
  .content-about1 {
  max-width: 1000px;
  }
 .img-content-about1-1 {
  height: 300px;
  width: 300px;
  gap: 80px;
 } 
 .title-about1 {
  font-size: 30px;
 }
 .content-about1-1 {
  font-size: 20px;
 }
 .content-about1-2 {
  font-size: 20px;
 }
 .content-about1-3 {
  font-size: 20px;
 }

 .section-about2 {
  max-width: 1000px;
 }
 .title-about2 {
  font-size: 30px;
 }
 .content-about2 {
  font-size: 20px;
 }
 .img-content-about2 {
  height: 300px;
  width: 500px;
 }
 .images-section1 img {
  height: 400px;
  width: 300px;
  border-radius: 60px;
}
.images-section1 {
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
}
.images-gallery {
  max-width: 1100px;
}
}
@media (max-width: 1040px) {
.about {
  font-size: 30px;
}
.gallery {
  font-size: 30px;
}
.input {
  font-size: 20px;
  width: 400px;
}
.arrow {
  height: 80px;
}
.title-about {
  font-size: 80px;
}
.img-content-about1-1 {
  height: 400px;
  width: 400px;
}
.content-about1 {
  flex-direction: column;
  gap: 30px;
  margin: 0 auto;
  max-width: 800px;
}
.title-about1 {
  font-size: 30px;
}
.content-about1-1 {
  text-align: center;
}
.content-about1-2 {
  text-align: center;
}
.content-about1-3 {
  text-align: center;
}
.section-about2 {
  flex-direction: column-reverse;
  gap: 30px;
}
.img-content-about2 {
  height: 500px;
  width: 800px;
}
.title-about2 {
  font-size: 45px;
  text-align: center;
}
.content-about2 {
  font-size: 25px;
}
.title-gallery {
  font-size: 80px;
}
.images-section1 img {
  height: 350px;
  width: 250px;
  border-radius: 60px;
}
.images-gallery {
  max-width: 900px;
}
}
@media (max-width:900px) {
  .up {
    left: 85vw;
  }
  .images-gallery {
    margin: 0 auto;
}
  .images-section1 {
    max-width: 750px;
    margin-left: 0;
    margin: 0 auto;
    gap: 30px;
  }
  .images-section1 img {
    margin: 0 auto;
  height: 380px;
  width: 230px;
  border-radius: 60px;
}
.img-8 {
  height: 250px !important;
}
.images-gallery {
  max-width: 1000px;
}
}
@media (max-width: 850px) {
  .img-content-about1-1 {
    height: 300px;
    width: 300px;
  }
  .img-content-about2 {
    height: 300px;
    width: 500px;
  }
}
@media (max-width: 749px) {
  .holder-burger {
    display: block;
  }
  .holder-top {
    margin-right: 35px;
  }
  .about {
    display: none;
  }
  .gallery {
    display: none;
  }
  .burger-home {
    display: block;
  }
  .title {
    font-size: 50px;
  }
  .subtitle {
    font-size: 30px;
  }
  .arrow {
    height: 50px;
  }
  .deco {
    font-size: 25px;
  }
  .sihyeon {
    font-size: 15px;
  }
  .title-about1 {
    font-size: 25px;
  }
  .content-about1-1 {
    font-size: 17px;
  }
  .content-about1-2 {
    font-size: 17px;
  }
  .content-about1-3 {
    font-size: 17px;
  }
  .title-about2 {
    font-size: 30px;
  }
  .content-about2 {
    font-size: 18px;
  }
  .img-content-about1-1 {
    height: 300px;
    width: 300px;
  }
  .img-content-about2 {
    height: 300px;
    width: 500px;
  }
  .images-section1 {
    gap: 20px;
    max-width: 700px;
  }
  .images-section1 img {
  margin: 0 auto;
  height: 300px;
  width: 200px;
  border-radius: 60px;
}
}
@media (max-width: 639px) {
  .images-gallery {
    max-width: 500px;
  }
  .images-section1 {
    gap: 20px;
  }
  .images-section1 img {
    width: 40%;
    height: 50%;
  }
}
@media (max-width: 550px) {
  .up {
    left: 80vw;
  }
  .img-content-about1-1 {
    height: 200px;
    width: 200px;
  }
  .title-about1 {
    font-size: 16px;
  }
  .content-about1-1 {
    font-size: 12px;
  }
  .content-about1-2 {
    font-size: 12px;
  }
  .content-about1-3 {
    font-size: 12px;
  }
  .img-content-about2 {
    height: 200px;
    width: 400px;
  }
  .title-about2 {
    font-size: 20px;
  }
  .content-about2 {
    font-size: 18px;
  }
}
@media (max-width: 415px) {
  .up {
    left: 75vw;
  }
  .title-about1 {
    font-size: 11px;
  }
  .content-about1 {
    width: 80%;
  }
  .img-content-about1-1 {
    height: 150px;
    width: 150px;
  }
  .section-about2 {
    width: 80%;
  }
  .img-content-about2 {
    height: 200px;
    width: 300px;
  }
  .images-section1 img {
    border-radius: 40px;
  }
}